@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET Sana Assessment .</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Main Approach</h2>
        <p>
            This is small project that implements some common patterns working with ASP.NET.
        </p>        
    </div>
</div>